/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:
	
	Eric Meyer					:: http://ericmeyer.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
	
-------------------------------------------------------------------------------*/

/* Let's default this puppy out
-------------------------------------------------------------------------------*/

/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/27b837");

  
@font-face {font-family: 'DIN1451EF-EngNeu';src: url('webfonts/27B837_0_0.eot');src: url('webfonts/27B837_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/27B837_0_0.woff') format('woff'),url('webfonts/27B837_0_0.ttf') format('truetype');}

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}									

article, aside, figure, footer, header, hgroup, nav, section {display: block;}

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
img,
object,
embed {/*max-width: 100%;*/}

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted. 
	don't forget to restore the bullets within content. */
ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before, 
blockquote:after, 
q:before, 
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom; *vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

table {font-size: inherit; font: 100%;}
 
/* Accessible focus treatment
	people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {outline: none;}

small {font-size: 85%;}

strong, th {font-weight: bold;}

td, td img {vertical-align: top;} 

/* Make sure sup and sub don't screw with your line-heights
	gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label, 
input[type=button], 
input[type=submit], 
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Apply box sizing to some input elements so percentage width and other measures work together */
input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=date],
input[type=time],
input[type=url],
textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* make buttons play nice in IE */
button {width: auto; overflow: visible;}
 
/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover */
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}

/* =============================================================================
   Code
   ========================================================================== */
/**
 * Redeclare monospace font family: h5bp.com/j
 */
pre,
code,
kbd,
samp {
  font: 1em Menlo, Monaco, Consolas, "Courier New", monospace;
}
code {
  color: #009933;
}
pre {
  /* Blue stribes to make it look like paper */

  background-color: #fefefe;
  background-image: -moz-linear-gradient(top, #e2f1f7 1px, transparent 1px);
  background-image: -ms-linear-gradient(top, #e2f1f7 1px, transparent 1px);
  background-image: -webkit-linear-gradient(top, #e2f1f7 1px, transparent 1px);
  background-image: -o-linear-gradient(top, #e2f1f7 1px, transparent 1px);
  background-image: linear-gradient(top, #e2f1f7 1px, transparent 1px);
  background-size: 100% 26px;
  box-shadow: inset 0 1px 1px #ffffff, 0 0 15px rgba(204, 204, 204, 0.35);
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  color: #222222;
  font-size: 14px;
  line-height: 26px;
  padding: 26px 25px;
  margin: 0 0 25px;
  position: relative;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
pre code {
  background: none;
  color: inherit;
  font: inherit;
}
pre ol.linenums {
  line-height: 26px;
}
/**
 * Line numbering for the Google Prettify script
 */
/* Add to red stribes to make it look like a notebook */
pre[class*="linenums"]:before {
  border: 1px solid #f1e9ea;
  border-width: 0 1px;
  content: "";
  width: 4px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50px;
  z-index: 1;
}
ol.linenums {
  color: #aeaeae;
  margin: 0 0 0 0;
  padding: 0 0 0 24px;
}
ol.linenums li {
  padding-left: 24px;
}
/*  Google Code Prettify */
.pln {
  color: #000;
}
.str {
  color: #008800;
}
.kwd {
  color: #000088;
}
.com {
  color: #880000;
}
.typ {
  color: #660066;
}
.lit {
  color: #006666;
}
.pun,
.opn,
.clo {
  color: #666600;
}
pre .tag {
  color: #000088;
}
.atn {
  color: #660066;
}
.atv {
  color: #008800;
}
.dec,
.var {
  color: #660066;
}
.fun {
  color: #ff0000;
}

/**
 * Simple grid system
 * @credits Twitter Bootstrap
 */
.row {
  width: 100%;
  *zoom: 1;
}
.row:before,
.row:after {
  display: table;
  content: "";
}
.row:after {
  clear: both;
}
.row [class*="span"] {
  float: left;
  margin-left: 2.127659574%;
  *margin-left: 2.0744680846382977%;
}
.row [class*="span"]:first-child {
  margin-left: 0;
}
.row .span12 {
  width: 99.99999998999999%;
  *width: 99.94680850063828%;
}
.row .span11 {
  width: 91.489361693%;
  *width: 91.4361702036383%;
}
.row .span10 {
  width: 82.97872339599999%;
  *width: 82.92553190663828%;
}
.row .span9 {
  width: 74.468085099%;
  *width: 74.4148936096383%;
}
.row .span8 {
  width: 65.95744680199999%;
  *width: 65.90425531263828%;
}
.row .span7 {
  width: 57.446808505%;
  *width: 57.3936170156383%;
}
.row .span6 {
  width: 48.93617020799999%;
  *width: 48.88297871863829%;
}
.row .span5 {
  width: 40.425531911%;
  *width: 40.3723404216383%;
}
.row .span4 {
  width: 31.914893614%;
  *width: 31.8617021246383%;
}
.row .span3 {
  width: 23.404255317%;
  *width: 23.3510638276383%;
}
.row .span2 {
  width: 14.89361702%;
  *width: 14.8404255306383%;
}
.row .span1 {
  width: 6.382978723%;
  *width: 6.329787233638298%;
}

/* =============================================================================
   Alert messages, taken from http://jayj.dk/a-free-html5-and-css3-theme
   ========================================================================== */
.alert {
  background-color: #ededed;
  border-left: 5px solid #d9d9d9;
  border-radius: 0 5px 5px 0;
  color: #222222;
  padding: 10px 14px;
  margin-bottom: 25px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.alert h4 {
  border-bottom: 0;
  color: inherit;
  padding-bottom: 0;
  margin: 10px 0;
}
.alert p + p {
  margin-bottom: 5px;
}
.alert-warning {
  background-color: #fef9c7;
  border-color: #fcdd4a;
  color: #3b3601;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #54b646;
  color: #0d370d;
}
.alert-danger,
.alert-error {
  background-color: #f2dede;
  border-color: #ce838f;
  color: #7a0b0a;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #049cdb;
  color: #0c3346;
}











/* ==|== primary styles =====================================================
   Author: info@sah-company.com
   ========================================================================== */

/* Set your font stuff for the document here */
body {font: 17px/1 "DIN1451EF-EngNeu", Helvetica, Arial, sans-serif;}


/* Layout with 2-columns and footer sticking to the bottom */
html {
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: rgb(182, 219, 165) url(/img/mtg/mtg-bg-back.jpg) center center repeat-y;
    position: relative;
	-webkit-hyphens: auto;
	 -moz-hyphens: auto;
	 -ms-hyphens: auto;
	 hyphens: auto;
}

/* we want a fixed width */
.wrapper {
    width: 1000px;
    margin: 0 auto;
    position: relative;
    /*overflow: hidden;*/
}

div.main {
    position: relative;
    height: 100%;
    min-height: 100%;
    padding-bottom: 280px;
    background: url(/img/mtg/mtg-bg.jpg);
    border-bottom: 20px solid rgb(128, 130, 133);
}

header.master {
    display: relative;
    top: 0;
    width: 100%;
    height: 470px;
    
    background: url(/img/mtg/mtg-bg.jpg);
}

/* the logo is smaller and elsewhere on every page */
header.master h1 a {
    display: block;
    width: 1000px;
    height: 350px;
    background: url(/img/mtg/mtg-header-home.jpg) no-repeat;
}

/* the logo is big on the home screen */
body#body-home header.master h1 a {
    background: url(/img/mtg/mtg-header-home.jpg) no-repeat;
    width: 1000px;
    height: 350px;
}

div#people-slider-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 1000px;
	height: 350px;
}

/* is visuallyhidden in layout */
header.master h2 {
}

/* layout */

.content {
    width: 770px;
    float: right;
    padding-right: 23px;
}

.sidebar {
    width: 167px;
    float: left;
	position: relative;
}

.sidebar a#scrolltop {
	position: absolute;
	bottom: -80px;
	right: -836px;
	z-index:10;
	display:none;
	width: 37px;
	height: 35px;
	background: url(/img/mtg/mtg-icon-scrolltop.png) center center no-repeat;
}
.sidebar a#scrolltop.visible {
	display: block;
}

/* other way round on home/news */
body#body-home .content {
    padding-right: 0;
    padding-left: 23px;
    float: left;
	width: 700px;
}

body#body-home .sidebar {
    float: right;
	width: 242px;
}

body#body-home .sidebar a {
	color: rgb(210, 35, 42);
}

body#body-home .sidebar p {
	margin-bottom: 1em;
}

/* on other pages content takes full advantage */

body#body-privacy .content,
body#body-legal .content,
body#body-sitemap .content,
body#body-imprint .content,
body#body-productdetail .content,
body#body-newsdetail .content {
    width: 960px;
    margin: 0 auto;
    padding: 0;
    float: none;
}

body#body-productdetail .content,
body#body-newsdetail .content {
	background-color: white;
	width: 770px;
	padding: 10px;
	position: relative;
}

body#body-productdetail .content::before,
body#body-newsdetail .content::before {
	position: absolute;
	top: -25px;
	left: 0;
	right: 0;
	content: url(/img/mtg/mtg-rand-detail-oben.png);
	height: 25px;
}

body#body-productdetail .content::after,
body#body-newsdetail .content::after {
	position: absolute;
	bottom: -23px;
	left: 0;
	right: 0;
	content: url(/img/mtg/mtg-rand-detail-unten.png);
	height: 23px;
}

a.close-details {
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	color: gray;
	padding-left: 20px;
	background: url(/img/mtg/mtg-icon-pfeil-li.png) no-repeat;
	margin-bottom: 1em;
}

.content p.backofen,
.content p.konvektomat,
.content p.friteuse,
.content p.mikrowelle {
	padding-left: 64px;
	background: url(/img/mtg/mtg-icon-backofen.png) center left no-repeat;
	min-height: 50px;
	line-height: 50px;
}
.content p.konvektomat {
	background: url(/img/mtg/mtg-icon-konvektomat.png) center left no-repeat;
}
.content p.friteuse {
	background: url(/img/mtg/mtg-icon-friteuse.png) center left no-repeat;
}
.content p.mikrowelle {
	background: url(/img/mtg/mtg-icon-mikrowelle.png) center left no-repeat;
}

body#body-privacy .sidebar,
body#body-legal .sidebar,
body#body-sitemap .sidebar,
body#body-imprint .sidebar,
body#body-productdetail .sidebar,
body#body-newsdetail .sidebar {
	display: none;
}

/* content designs */
.content article header h1 {
    background: url(/img/mtg/mtg-bg-headline.png) no-repeat;
    font-size: 22px;
	font-weight: normal;
    line-height: 46px;
    padding-left: 20px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 0px;
}

.content article {
    margin-bottom: 2em;
}

.content article h1,
.content article h2,
.content article h3,
.content article h4,
.content article h5,
.content article h6 {
	color: rgb(210, 35, 42);
}

.content article .whitetext h1,
.content article .whitetext h2,
.content article .whitetext h3,
.content article .whitetext h4,
.content article .whitetext h5,
.content article .whitetext h6,
.content article .whitetext p {
	color: white;
}


.content article h1,
.content article h2 {
	text-transform: uppercase;
	font-size: 20px;
}
.content article h3 {
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 0.5em;
}

.content article h2 {
	font-family: 'Arial', sans-serif;
	font-size: 18px;
	letter-spacing: -1px;
	line-height: 20px;
}

.sidebar.news h2 {
	font-family: "DIN1451EF-EngNeu";
}

.content article h3,
.sidebar.news h3 {
	font-family: 'Arial', sans-serif;
	font-size: 16px;
	letter-spacing: -1px;
	line-height: 22px;
}

.content .tiles {
	position: relative;
}

.content .tile.tile-textile {
	z-index: 1;
}

.content .tile.tile-image {
	margin-bottom: 1em;
}

.content article.category figcaption {
    display: none;
}

.sidebar.news p,
.sidebar.news ul,
.sidebar.news ol,
.content p,
.content ul,
.content ol {
	font-family: 'Arial', sans-serif;
	margin-bottom: 1em;
	font-size: 13px;
	line-height: 22px;
	text-align: justify;
    color: rgb(128, 130, 133);
}

.sidebar.news p,
.sidebar.news ul,
.sidebar.news ol {
	line-height: 16px;
}

.content ul,
.content ol {
	/*line-height: 1.2;*/
}

.content article:first-child {
	margin-bottom: 0;
}
.content article:first-child header {
	display: none;
}

.content article header {
	margin-bottom: 1em;
}

.content article li {
	padding-left: 1em;
	text-indent: -0.7em;
}

.content article li:before {
	content: "• ";
	color: rgb(210, 35, 42);
}

.content table {
    margin-top: 1em;
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    border-spacing: 1px;
}

.content table th,
.content table td {

}

.content table thead {
    background-color: rgb(205, 7, 30);
}

.content table thead th {
    color: white;
    letter-spacing: 0px;
    text-align: center;
    font-size: 16px;
	font-weight: normal;
    padding: 0.5em 0.25em 0 0.25em;
}

.content table tbody tr td {
    background-color: rgb(230, 242, 224);
}

.content table tbody tr:nth-child(even) td {
    background-color: rgb(245, 249, 242);
}

.content table tbody td {
	font-family: 'Arial', sans-serif;
    color: rgb(128, 130, 133);
    padding: 1em 0.25em 1em 0.25em;
    vertical-align: middle;
    font-size: 13px;
	position: relative;
	line-height: 1.2;
}
div.cage {
	position: relative;
	/*background:url(/img/mtg/mtg-icon-lupe.png) bottom right no-repeat;
	padding-bottom: 20px;*/
	cursor:pointer;
}
img.resizable.resize {
	position: relative;
	top:0;
	left: -90px;
	width: 240px;
	z-index:1;
}

/* q */
input#q {
	margin: 0.5em 0;
	width: 90%;
}

/* login */
#account {
	margin: 0;
	padding: 0;
	padding-top: 7px;
	position: absolute;
	top: 389px;
	right: 0px;
	width: 371px;
	height: 35px;
	border-left: 1px solid white;
	font-size: 14px;
}

#account h3 {
	display: inline-block;
	float: left;
	font-size: 18px;
	line-height: 29px;
	text-transform: uppercase;
	margin-right: 0.5em;
	color: white;
	padding-left: 0.5em;
	font-weight: normal;
}

#account h3 a {
	text-decoration: none;
	color: white;
}

/* user name after oxid login in header */
#account p#oxidaccount {
	color: white;
	font-size: 14px;
	line-height: 29px;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

#account form {
	margin: 0;
	padding: 0;
}

#account div.row {
	float: left;
}

#account form legend,
#account form label {
	display: none;
}

#account form input#mtg-uname,
#account form input#mtg-pw {
	width: 120px;
	float: left;
	margin-right: 0.5em;
}

#account form input#submit {
	background-image: url(/img/mtg/mtg-icon-login.jpg);
	background-position: center center;
	width: 41px;
	line-height: 19px;
}

#account h3 a {
	padding-right: 24px;
	background: url(/img/mtg/mtg-icon-login.jpg) right center no-repeat;
}

form#contact,
div#thankyou {
	position: absolute;
	top: 0;
	left: 1em;
	z-index: 1;
	width: 462px;
	font-size: 16px;
	color: gray;
}

div#thankyou {
	top: 30px;
}

form#contact legend {
	display: none;
}

form#contact .row {
	margin-bottom: 0.8em;
}

form#contact input[type=submit] {
	float: right;
	color: white;
	background-color: rgb(210, 35, 42);
}

form#contact label {
	font-weight: normal;
	padding-top: 4px;
}

form#contact p.contact-required-info {
	float: left;
}

/* sidebar news stuff */
.sidebar.news h2,
.sidebar.news h3 {
    text-transform: uppercase;
    color: rgb(205, 7, 30);
    letter-spacing: 0px;
}

.sidebar.news {
	font-family: Arial, sans-serif;
	width: 242px;
    background-color: white;
    color: rgb(128, 130, 133);
    padding: 0;/*1em 0.5em;*/
	margin-top: 25px;
}

.sidebar.news::before {
	position: absolute;
	top: -25px;
	left: 0;
	right: 0;
	content: url(/img/mtg/mtg-rand-news-oben.png);
	height: 25px;
}

.sidebar.news::after {
	position: absolute;
	bottom: -23px;
	left: 0;
	right: 0;
	content: url(/img/mtg/mtg-rand-news-unten.png);
	height: 23px;
}

.sidebar.news h2 {
	font-size: 22px;
	font-weight: normal;
	margin: 1em 0.5em 0 0.5em;
	text-transform: uppercase;
	padding-left: 30px;
	background: rgb(238, 246, 234) url(/img/mtg/mtg-news-header-bg.png) center left no-repeat;
}

.sidebar.news h3 {
	font-weight: normal;
}

.sidebar.news .item.news {
    font-size: 16px;
    margin: 1em 0.5em 0 0.5em;
    padding: 1.5em;
}

.sidebar.news .item.news {
    background-color: white;
}

.sidebar.news .item.news:nth-child(odd) {
    background-color: rgb(238, 246, 234);
}

/* main nav */
ul.main {
    position: absolute;
    top: 390px;
    left: 0;
    height: 3em;
    width: 100%;
    background: url(/img/mtg/mtg-bg-nav.png) no-repeat;  
}

ul.main li,
ul.secondary li,
ul.language li {
    position: relative;
    display: inline;
    float: left;
}

ul.main li ul {
	display: none;
}

ul.main a,
ul.secondary a,
ul.language a {
    display: inline-block;
}

ul.main a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 41px;
    padding: 0 20px;
}

ul.main a:hover {
    color: rgb(205, 7, 30);
    /*background-color: rgb(183, 219, 164);*/
}

/* home nav hover and active */
body#body-home ul.main li.domain-17 a,
ul.main li.domain-17 a:hover {
	background: url(/img/mtg/mtg-nav-home.png) no-repeat;
    color: rgb(205, 7, 30);
}
html[lang="en"] body#body-home ul.main li.domain-17 a,
html[lang="en"] ul.main li.domain-17 a:hover {
	background: url(/img/mtg/mtg-nav-home-eng.png) no-repeat;
}


/* company nav hover and active */
body#body-company ul.main li.domain-18 a,
ul.main li.domain-18 a:hover {
	background: url(/img/mtg/mtg-nav-company.png) no-repeat;
    color: rgb(205, 7, 30);
}

html[lang="en"] body#body-company ul.main li.domain-18 a,
html[lang="en"] ul.main li.domain-18 a:hover {
	background: url(/img/mtg/mtg-nav-company-eng.png) no-repeat;
}

/* contact nav hover and active */
body#body-contact ul.main li.domain-19 a,
ul.main li.domain-19 a:hover {
	background: url(/img/mtg/mtg-nav-contact.png) no-repeat;
    color: rgb(205, 7, 30);
}

html[lang="en"] body#body-contact ul.main li.domain-19 a,
html[lang="en"] ul.main li.domain-19 a:hover {
	background: url(/img/mtg/mtg-nav-contact-eng.png) no-repeat;
}

/* fancy sortiment menu entry */
ul.main li.domain-20 a {
	display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0;
    position: relative;
    left: 0;
    top: -5px;
    width: 125px;
    height: 50px;
    background-image: url(/img/mtg/mtg-button-sortiment-d.png);
    padding: 0;
}

html[lang="en"] ul.main li.domain-20 a {
	background-image: url(/img/mtg/mtg-button-sortiment-eng-d.png);	
}

body#body-portfolio ul.main li.domain-20 a,
ul.main li.domain-20 a:hover {
	background-image: url(/img/mtg/mtg-button-sortiment-a.png);
	color: rgb(205, 7, 30);
}

html[lang="en"] body#body-portfolio ul.main li.domain-20 a,
html[lang="en"] ul.main li.domain-20 a:hover {
	background-image: url(/img/mtg/mtg-button-sortiment-eng-a.png);
}

/* contact nav hover and active */
body#body-people ul.main li.domain-25 a,
ul.main li.domain-25 a:hover {
	background: url(/img/mtg/mtg-nav-team.png) no-repeat;
    color: rgb(205, 7, 30);
}

html[lang="en"] body#body-people ul.main li.domain-25 a,
html[lang="en"] ul.main li.domain-25 a:hover {
	background: url(/img/mtg/mtg-nav-team-eng.png) no-repeat;
}

/* secondary menu */
ul.secondary,
ul.language {
    position: absolute;
    top: 360px;
    right: 84px;
    height: 3em;
    background: transparent;
}

ul.language {
	right: 14px;
}

ul.secondary a,
ul.language a {
    text-decoration: none;
    font-size: 16px;
    line-height: 13px;
    color: rgb(128, 130, 133);
    padding: 0 10px;
}
ul.language a {
	padding: 0 5px;
}

/* navscroll */
.navscroll {
    background-image: url(/img/mtg/mtg-bg-subnav.png);
    background-repeat: repeat-y;
    padding: 10px;
    width: 167px;
	margin-top: 25px;
	position: relative;
}

.navscroll::before {
	position: absolute;
	top: -25px;
	left: 0;
	content: url(/img/mtg/mtg-rand-oben.png);
	height: 25px;
	width: 187px;
	overflow: hidden;
}

.navscroll::after {
	position: absolute;
	bottom: -23px;
	left: 0;
	content: url(/img/mtg/mtg-rand-unten.png);
	height: 23px;
	width: 187px;
	overflow: hidden;
}

.navscroll form {
    padding: 10px 0 18px 0;
}

.navscroll li a {
    color: gray;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 34px;
}

.navscroll li.active a,
.navscroll li a:hover {
    color: rgb(205, 7, 30);
}

/* navscroll 2nd level */
.navscroll ul li ul {
    margin-left: 1em;
}

/* used with navscroll, @see script.js */
.navscroll.fixed {
    position: fixed;
    top: 80px;
}

/* typography on navscroll, maybe main also*/
.navscroll li a,
ul.main li a {
    letter-spacing: 0px;
    font-weight: 500;
}

/* special tiles for extra pages: privacy, legal, etc. */
body#body-privacy .tiles,
body#body-legal .tiles,
body#body-sitemap .tiles,
body#body-imprint .tiles {
	background-color: rgb(238, 247, 234);
	width: 473px;
	padding: 10px;
	margin: 0 auto;
}
body#body-privacy .tiles::before,
body#body-legal .tiles::before,
body#body-sitemap .tiles::before,
body#body-imprint .tiles::before {
	position: absolute;
	top: -25px;
	left: 0;
	right: 0;
	content: url(/img/mtg/mtg-rand-oben.png);
	height: 25px;
}

body#body-privacy .tiles::after,
body#body-legal .tiles::after,
body#body-sitemap .tiles::after,
body#body-imprint .tiles::after {
	position: absolute;
	bottom: -23px;
	left: 0;
	right: 0;
	content: url(/img/mtg/mtg-rand-unten.png);
	height: 23px;
}

/* Basic jQuery Slider essential styles */

.content article ul.bjqs li {
	padding-left: 0;
	text-indent: 0;
	line-height: 1;
}

.content article ul.bjqs li:before {
	content: "";
	color: inherit;
}

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}

/* make nice portfolio tables */
th.fn-artno { width: 38px; }
th.fn-product { width: 170px; }
th.fn-brand { width: 76px; }
th.fn-usage { width: 180px; }
th.fn-thumb { width: 60px; }
th.fn-tgtk { width: 25px; }
th.fn-package { }
th.fn-avail { width: 30px; }
	
.avail {
	display: block;
	width: 28px;
	height: 28px;
}
.avail.avail-1 {
	background: url(/img/mtg/mtg-icon-auflager.png) no-repeat;
}
.avail.avail-4 {
	background: url(/img/mtg/mtg-icon-begrenzt.png) no-repeat;
}
.avail.avail-2 {
	background: url(/img/mtg/mtg-icon-bestellung.png) no-repeat;
}

.attr {
	color: rgb(205, 7, 30);
}

.pdetails {
	/*border-left: 1px solid gray;*/
}

.details-divider {
	background: url(/img/mtg/mtg-icon-line.png) top left repeat-y;
}

.pdetails .row {
	width: 92%;
	padding: 1em 0 1em 2%;
	margin-left: 5%;
}

.pdetails .row:nth-child(odd) {
	background-color: rgb(238, 244, 229);
}

.pdetails h1 {
	color: rgb(128, 130, 133);
	font-size: 2em;
	font-weight: normal;
}

.pdetails span.attr,
.pdetails span.val {
	font-family: 'Arial', sans-serif;
	font-size: 13px;
}

.pdetails span.attr {
	font-weight: bold;
}

.pdetails span.val {
	color: rgb(128, 130, 133);
}
.pdetails p.val {
	padding-right: 1em;
	line-height: 1;
}

.pdetails p.zub {
	margin-bottom:0;
}

.pimages img {
	padding-bottom: 59px;
	background: url(/img/mtg/mtg-pimg-abstand.png) center bottom no-repeat;
}

.navscroll a.portfolio-as-pdf {
	display: block;
	margin-top: 2em;
}

#powerTip {
	position: absolute;
	display: none;
	z-index: 234444;
}

/* using local fonts? make sure to read up on Paul Irish's 
	Bulletproof @font-face syntax: http://mky.be/font-face/bulletproof/ */

/* we like off-black for text */
body, select, input, textarea {color: #333;}

a {color: inherit;}
a:hover {color: rgb(210, 35, 42);}

/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;} 

/*	j.mp/webkit-tap-highlight-color */
/*a:link {-webkit-tap-highlight-color: #fcd700;} */

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}


/* Forms */
form {
    padding: 1em;
}
form div.row {
    margin-bottom: 0.5em;
}

div.row.error label {
	color: red;
}

fieldset {
    margin-bottom: 0.5em;
}

legend {
    font-family: 'Georgia', serif;
    margin-bottom: 0.25em;
    font-style: italic;
    font-size: small;
}

label {
	font-family: 'Arial', sans-serif;
    display: inline-block;
    font-weight: bold;
	font-size: 13px;
    margin-bottom: 0.25em;
}

input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=number],
input[type=date]
input[type=time],
textarea {
    width: 100%;
    padding: 0.25em;
}

/* Rounded gravatar: A background-image tag in html */
.circular {
	width: 72px;
	height: 72px;
	border-radius: 36px;
	-webkit-border-radius: 36px;
	-moz-border-radius: 36px;
	background: url(../images/glyphicons/glyphicons_003_user.png) center center;
	background-repeat: no-repeat;
	background-color: white; /* stanze */
    -webkit-box-shadow: 0px 1em 1em rgba(0, 0, 0, .66);
}

.circular .circular-48 {
	width: 48px;
	height: 48px;
	border-radius: 24px;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;    
}

.circular .circular-32 {
	width: 32px;
	height: 32px;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;    
}

.circular .circular-16 {
	width: 16px;
	height: 16px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;    
}














/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }


/* Print styles!
-------------------------------------------------------------------------------*/
@media print {



}


/* Media queries!
-------------------------------------------------------------------------------*/

/* Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
	
		
}

@media all and (orientation: portrait) {
	
}

@media all and (orientation: landscape) {
	
}

